nav .pagination .side-button {
	height: auto !important;
	padding: 1rem 1rem 0 !important;
}

nav .pagination .side-button .MuiSvgIcon-root {
	font-size: 3.6rem !important;
}

nav .pagination .side-button:first-child {
	margin-right: 1.6rem;
	border-radius: 50%;
}

nav .pagination .side-button:last-child {
	margin-left: 1.6rem;
	border-radius: 50%;
}
